@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
#login {
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

form {
  background: #f0f0f0;
  padding: 5% 5%;
}

body {
    height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

h1{
  margin-left: 60px;
}

.button {
  width: 100px;
  background: red;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: red;
  cursor: pointer;
}

.prezz{
    margin-left: 50px;
}


